<html>
    <body>
        <h1>IRIS Classifier</h1>
        <form action="/final_classifier" method='POST' enctype='multipart/form-data'>
            <label>Sepal Length</label><input type="text" name="sepalLength">​
            <label>Sepal Width</label><input type="text" name="sepalWidth">​
            <label>Petal Length</label><input type="text" name="petalLength">​
            <label>Petal Width</label><input type="text" name="petalWidth">​

            <input type='submit' name ='Classify' value='Classify'>
        </form>
    </body>
</html>